<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/home/<%=task._id%>?_method=PUT" method="POST">
        <div>
            <label> Title </label>
            <input name="task[title]" type="text" placeholder="title" value="<%=task.title%>" >
        </div>
        <div>
            <div >body</div >
            <textarea rows="5" cols="60" name="task[body]" placeholder="type here.....">
                <%=task.body%>
            </textarea>
        </div>
        <div>
            <!--have to add default values for scroll downs -->
            <div>
                <div> Task Type : </div>
                <select id="mySelect" name="task[taskType]" > 
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="Shopping">Shopping</option>
                    <option value="Playing">Playing</option>
                    <option value="others">others</option>
                </select>
            </div>
            <div>
                <div> status : </div>
                <select id="mySelect2" name="task[status]"> 
                    
                    <option value="completed">completed</option>
                    <option value="in_progress">In-progress</option>
                    <option value="new">New</option>
                </select>
            </div>
            
        <input type="submit" value="submit"> 
    </form>
    <script>
        document.getElementById("mySelect").value = "<%=task.taskType%>";
        document.getElementById("mySelect2").value = "<%=task.status%>";
      </script>
</body>


</html>